/*-- Colors
------------------------------------------*/
$fdl-blue: rgb(49,29,218);
$border-gray: rgb(221,221,221);
$bg-gray: rgb(246,246,243);
$hover-yellow: rgb(243,209,60);
$dark-text: rgb(44,48,58);
$medium-text: rgb(89,89,89);
$light-text: rgb(152,152,152);

