/*-- Layout
------------------------------------------*/
.fdl-forum {
  width: 100%;
  height: 800px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: white;
}

.fdl-content {
  padding: 15px;
  background-color: white;
}

.fdl-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.fdl-column-content {
  flex: 1;
  margin: 40px;
}

.fdl-column-sidebar {
  width: 400px;
  margin: 40px;
}

.fdl-fold-image {
  width: 100%;
  margin: 20px 0px;
}

.fdl-author {
  display: flex;
  flex-direction: row;
}

.fdl-author-photo {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 999px;
}

.fdl-author-info {
  flex: 1;
  margin-left: 20px;
}

.fdl-author-info h3 {
  margin: 0;
}

.fdl-author-links a {
  font-style: italic;
  text-transform: lowercase;
  text-decoration: none;
  color: $fdl-blue;
  margin-right: 15px;
}

.fdl-column-sidebar hr {
  margin: 40px 0;
}

.fdl-resources {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  line-height: 40px;
}

.fdl-resources a {
  text-decoration: none;
  color: $fdl-blue;
}

.fdl-resource-doc {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('../assets/document_pie_chart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.fdl-resource-slides {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('../assets/presentation_pie.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.fdl-tags {
  text-align: center;
  line-height: 35px;
}

.fdl-tags a {
  text-decoration: none;
}

.fdl-tag {
  color: white;
  background-color: black;
  padding: 5px 15px;
  border-radius: 999px;
  margin: 3px;
  margin-bottom: 9px;
  display: inline-block;
  font-size: 12px;
}

.fdl-footer {
  width: 100%;
  text-align: center;
  background-color: white;
  padding-top: 30px;
}

.fdl-page-home .fdl-footer {
  background-color: $bg-gray;
}

.fdl-footer-desert {
  width: 100%;
  height: 0;
  padding-top: 200px;
  overflow: hidden;
  background-image: url('../assets/desert-with-text.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.fdl-footer-logos {
  width: 100%;
  background-color: $fdl-blue;
}

.fdl-footer-logo {
  height: 60px;
  margin: 20px;
}

.fdl-courses-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $bg-gray;
  padding-bottom: 50px;
}

.fdl-courses-cards a {
  text-decoration: none;
}

.fdl-courses-card {
  width: 300px;
  display: inline-block;
  background-color: white;
  margin: 10px;
  border-bottom: 3px solid $border-gray;
}

.fdl-courses-card-img {
  height: 250px;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fdl-courses-card-arrow-box {
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
}

.fdl-courses-card:hover .fdl-courses-card-arrow-box {
  display: flex;
}

.fdl-courses-card-arrow {
  height: 30px;
}

.fdl-courses-card-title {
  color: black;
  font-size: 16px;
  font-weight: 300;
  min-height: 70px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
  margin: 0;
  letter-spacing: 2px;
}

.fdl-courses-card:hover .fdl-courses-card-title {
  background-color: $hover-yellow;
  color: white;
}

.fdl-start-button {
  color: $dark-text;
  background-color: white;
  padding: 10px 18px;
  border-radius: 999px;
  display: inline-block;
  border: 2px solid $dark-text;
  &:hover {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
  }
}

#fdl-modal-share {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(255,255,255,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fdl-modal-off {
  display: none !important;
}

.fdl-modal-share-box {
  width: 600px;
  height: auto;
  margin-top: 50px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  position: relative;
}

.fdl-modal-share-close {
  position: absolute;
  right: -60px;
  top: -60px;
  width: 60px;
  height: 60px;
}

.fdl-share-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 80px;
  border-bottom: 2px solid black;
}

.fdl-share-tab-url, .fdl-share-tab-email {
  margin-left: 40px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.fdl-share-tab-icon {
  width: 35px;
  margin-right: 15px;
}

.fdl-modal-url .fdl-share-tab-url, .fdl-modal-email .fdl-share-tab-email {
  border-bottom: 8px solid $fdl-blue;
}

.fdl-modal-url .fdl-share-email-content, .fdl-modal-email .fdl-share-url-content {
  display: none !important;
}

.fdl-share-content {
  padding: 40px;
  color: $medium-text;
}

.fdl-share-link-row {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.fdl-share-link {
  flex: 1;
  margin-right: 25px;
  border: 2px solid $hover-yellow;
  padding: 12px 24px;
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $light-text;
}

.fdl-share-qr-button img {
  height: 23px;
  vertical-align: middle;
}

.fdl-share-link-copy, .fdl-share-email-send {
  flex: 0;
  color: white;
  background-color: $hover-yellow;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 999px;
}

.fdl-share-link-copy {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fdl-share-social {
  text-decoration: none;
  margin-right: 15px;
}

.fdl-share-social img {
  width: 55px;
}

.fdl-share-email-body {
  color: $light-text;
  border: 2px solid $hover-yellow;
  margin: 30px 0;
  padding: 0 15px;
  border-radius: 10px;
}
