/*-- Navigation
------------------------------------------*/

.fdl-nav {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid $border-gray;
  white-space: nowrap;
}

.fdl-nav a {
  text-decoration: none;
  color: black;
}

.fdl-nav-left, .fdl-nav-right {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.fdl-nav-logo {
  padding: 0 20px;
  margin-right: 10px;
  border-right: 1px solid $border-gray;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.fdl-nav-logo img {
  height: 45px;
}

.fdl-nav-courses {
  text-transform: uppercase;
  margin: 0 20px;
}

.fdl-nav-forums {
  text-transform: uppercase;
  margin: 0 20px;
}

.fdl-nav-about {
  text-transform: uppercase;
  margin: 0 20px;
}

.fdl-nav-logo, .fdl-nav-courses, .fdl-nav-forums, .fdl-nav-about {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.fdl-nav-logo a, .fdl-nav-courses a, .fdl-nav-forums a, .fdl-nav-about a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fdl-nav-space {
  width: 100%;
  height: 70px;
}

.fdl-content-nav {
  background-color: white;
  border-bottom: 1px solid $border-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 35px;
  height: 70px;
  vertical-align: middle;
}

.fdl-content-nav-about, .fdl-content-nav-forum {
  display: inline-block;
  margin-right: 30px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  height: 60px;
  line-height: 60px;
  color: black;
  text-decoration: none;
}

.fdl-tab-about .fdl-content-nav-about, .fdl-tab-forum .fdl-content-nav-forum {
  border-bottom: 5px solid $fdl-blue;
}

.fdl-tab-about .fdl-content-forum, .fdl-tab-forum .fdl-content-about {
  display: none;
}

.fdl-content-nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fdl-content-nav-share {
  color: $fdl-blue;
  border: 1px solid $fdl-blue;
  padding: 8px 12px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.fdl-content-nav-share-icon {
  height: 25px;
  margin-right: 7px;
}
