/*-- Typography
------------------------------------------*/

body {
  font-variant-ligatures: no-common-ligatures;
}

h1, h2, h3, h4, h5, h6, {
  font-family: 'Open Sans', sans-serif;
  color: $medium-text;
}

p {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 31px;
  color: $medium-text;
  &.small {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    color: $light-text;
  }
}

a {
  letter-spacing: 3px;
  font-size: 14px;
  transition: all .1s ease-in-out;
}
