$fdl-blue: rgb(49,29,218);
$border-gray: rgb(221,221,221);
$bg-gray: rgb(246,246,243);
$hover-yellow: rgb(243,209,60);
$dark-text: rgb(44,48,58);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $fdl-blue;
}

.fdl-nav {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid $border-gray;
  white-space: nowrap;
}

.fdl-nav a {
  text-decoration: none;
  color: black;
}

.fdl-nav-left, .fdl-nav-right {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fdl-nav-logo {
  padding: 0 20px;
  margin-right: 10px;
  border-right: 1px solid $border-gray;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.fdl-nav-logo img {
  height: 45px;
}

.fdl-nav-courses {
  text-transform: uppercase;
  margin: 0 20px;
}

.fdl-nav-forums {
  text-transform: uppercase;
  margin: 0 20px;
}

.fdl-nav-about {
  text-transform: uppercase;
  margin: 0 20px;
}

.fdl-nav-space {
  width: 100%;
  height: 70px;
}

.fdl-content-nav {
  background-color: white;
  border-bottom: 1px solid $border-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 35px;
  height: 70px;
  vertical-align: middle;
}

.fdl-content-nav-about {
  display: inline-block;
  margin-right: 30px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid $fdl-blue;
  height: 60px;
  line-height: 60px;
}

.fdl-content-nav-forum {
  color: black;
  text-decoration: none;
  line-height: 60px;
}

.fdl-content-nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fdl-content-nav-share {
  color: $fdl-blue;
  border: 1px solid $fdl-blue;
  padding: 8px 12px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.fdl-content-nav-share-icon {
  height: 25px;
  margin-right: 7px;
}

.fdl-content {
  padding: 15px;
  background-color: white;
}

.fdl-video-section {
  background-image: url('../assets/blur-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 40px;
}

.fdl-video-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  letter-spacing: 2px;
}

.fdl-video-headers h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 22px;
}

.fdl-video-headers h2 {
  padding-right: 290px;
  font-weight: normal;
  font-style: italic;
  font-size: 19px;
}

.fdl-video-selector-active {
  font-weight: bold;
}

.fdl-video-player {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 500px;
}

.fdl-video-container {
  flex: 1;
  height: 100%;
}

#fdl-video-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.fdl-video-list {
  width: 350px;
  background-color: white;
  margin: 0;
  overflow-y: auto;
  color: black;
  list-style-position: inside;
  padding: 0;
  border-left: 1px solid $border-gray;
}

.fdl-video-list li {
  padding: 13px;
  margin: 0;
}

.fdl-video-selector-box {
  border-bottom: 1px solid $border-gray;
}

.fdl-video-list a {
  text-decoration: none;
  color: black;
}

.fdl-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fdl-column-content {
  flex: 1;
  margin: 20px;
}

.fdl-column-sidebar {
  width: 400px;
  margin: 20px;
}

.fdl-fold-image {
  width: 100%;
}

.fdl-author {
  display: flex;
  flex-direction: row;
}

.fdl-author-photo {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 999px;
}

.fdl-author-info {
  flex: 1;
  margin-left: 20px;
}

.fdl-author-info h3 {
  margin: 0;
}

.fdl-author-links a {
  font-style: italic;
  text-transform: lowercase;
  text-decoration: none;
  color: $fdl-blue;
  margin-right: 15px;
}

.fdl-column-sidebar hr {
  margin: 40px 0;
}

.fdl-resources {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  line-height: 40px;
}

.fdl-resources a {
  text-decoration: none;
  color: $fdl-blue;
}

.fdl-resource-doc {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('../assets/document_pie_chart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.fdl-resource-slides {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('../assets/presentation_pie.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.fdl-tags {
  text-align: center;
  line-height: 35px;
}

.fdl-tags a {
  text-decoration: none;
}

.fdl-tag {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 999px;
  margin: 3px;
}

.fdl-footer {
  width: 100%;
  text-align: center;
  background-color: white;
  padding-top: 30px;
}

.fdl-page-home .fdl-footer {
  background-color: $bg-gray;
}

.fdl-footer-desert {
  width: 100%;
  height: 0;
  padding-top: 200px;
  overflow: hidden;
  background-image: url('../assets/desert-with-text.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.fdl-footer-logos {
  width: 100%;
  background-color: $fdl-blue;
}

.fdl-footer-logo {
  height: 60px;
  margin: 20px;
}

.fdl-courses-header {
  text-align: center;
  padding: 50px;
  background-color: $bg-gray;
}

.fdl-courses-header img {
  height: 45px;
}

.fdl-courses-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $bg-gray;
  padding-bottom: 50px;
}

.fdl-courses-cards a {
  text-decoration: none;
}

.fdl-courses-card {
  width: 250px;
  display: inline-block;
  background-color: white;
  margin: 10px;
  border-bottom: 3px solid $border-gray;
}

.fdl-courses-card-img {
  height: 150px;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fdl-courses-card-arrow-box {
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
}

.fdl-courses-card:hover .fdl-courses-card-arrow-box {
  display: flex;
}

.fdl-courses-card-arrow {
  height: 30px;
}

.fdl-courses-card-title {
  color: black;
  font-size: 16px;
  font-weight: normal;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  margin: 0;
}

.fdl-courses-card:hover .fdl-courses-card-title {
  background-color: $hover-yellow;
  color: white;
}

.fdl-courses-carousel {
  width: 100%;
  height: 500px;
  position: relative;
}

.fdl-courses-carousel-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: gray;
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 0;
  pointer-events: none;
}

.fdl-courses-carousel-page-on {
  opacity: 1;
  pointer-events: auto;
}

.fdl-carousel-selectors {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

.fdl-carousel-selector {
  color: transparent;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 999px;
  overflow: hidden;
  display: inline-block;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.fdl-carousel-selector-active {
  background-color: white;
}

#fdl-carousel-page-0 {
  background-image: url('../assets/spaceship-bg.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

#fdl-carousel-page-1 {
  background-color: #88b;
}

#fdl-carousel-page-2 {
  background-color: #f8f;
}

.fdl-carousel-page-content {
  position: absolute;
  color: white;
  left: 50px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.fdl-carousel-page-content p {
  margin-top: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.fdl-start-button {
  color: $dark-text;
  background-color: white;
  padding: 10px 18px;
  border-radius: 999px;
  display: inline-block;
}

#fdl-modal-share {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(255,255,255,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fdl-modal-off {
  display: none !important;
}

.fdl-modal-share-box {
  width: 800px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  position: relative;
}

.fdl-modal-share-close {
  position: absolute;
  right: -60px;
  top: -60px;
  width: 60px;
  height: 60px;
}

.fdl-share-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 80px;
  border-bottom: 2px solid black;
}

.fdl-share-tab-url, .fdl-share-tab-email {
  margin-left: 40px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.fdl-share-tab-icon {
  width: 35px;
  margin-right: 15px;
}

.fdl-modal-url .fdl-share-tab-url, .fdl-modal-email .fdl-share-tab-email {
  border-bottom: 8px solid $fdl-blue;
}

.fdl-modal-url .fdl-share-email-content, .fdl-modal-email .fdl-share-url-content {
  display: none !important;
}

.fdl-share-content {
  padding: 40px;
}
