[submodule "deps/mustache"]
	path = deps/mustache
	url = https://github.com/bobthecow/mustache.php.git
[submodule "deps/markdown"]
	path = deps/markdown
	url = https://github.com/michelf/php-markdown
