body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(49,29,218);
}

.fdl-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid rgb(221,221,221);
  white-space: nowrap;
}

.fdl-nav a {
  text-decoration: none;
  color: black;
}

.fdl-nav-left, .fdl-nav-right {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fdl-nav-logo {
  padding: 0 20px;
  margin-right: 10px;
  border-right: 1px solid rgb(221,221,221);
  align-self: stretch;
  display: flex;
  align-items: center;
}

.fdl-nav-logo img {
  height: 45px;
}

.fdl-nav-courses {
  text-transform: uppercase;
  margin: 0 20px;
}

.fdl-nav-forums {
  text-transform: uppercase;
  margin: 0 20px;
}

.fdl-nav-about {
  text-transform: uppercase;
  margin: 0 20px;
}

.fdl-content {
  margin-top: 70px;
  padding: 15px;
  background-color: white;
}

.fdl-video-selector-active {
  font-weight: bold;
}

.fdl-video-player {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 500px;
}

.fdl-video-container {
  flex: 1;
  height: 100%;
}

#fdl-video-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.fdl-video-list {
  width: 300px;
}

.fdl-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fdl-column-content {
  flex: 1;
  margin: 20px;
}

.fdl-column-sidebar {
  width: 400px;
  margin: 20px;
}

.fdl-fold-image {
  width: 100%;
}

.fdl-author {
  display: flex;
  flex-direction: row;
}

.fdl-author-photo {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 999px;
}

.fdl-author-info {
  flex: 1;
  margin-left: 20px;
}

.fdl-footer {
  width: 100%;
  text-align: center;
  background-color: white;
}

.fdl-page-home .fdl-footer {
  background-color: rgb(246,246,243);
}

.fdl-footer-desert {
  box-sizing: border-box:
  width: 100%;
  height: 0;
  padding-top: 200px;
  overflow: hidden;
  background-image: url('assets/desert-with-text.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  margin-right: 10px;
}

.fdl-footer-logos::before {
  content: "";
  height: 20px;
  display: block;
  width: 100%;
  background-color: white;
}

.fdl-footer-logos {
  width: 100%;
  background-color: rgb(49,29,218);
}

.fdl-footer-logo {
  height: 60px;
  margin: 20px;
}

.fdl-courses-header {
  text-align: center;
  padding: 50px;
  background-color: rgb(246,246,243);
}

.fdl-courses-header img {
  height: 45px;
}

.fdl-courses-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(246,246,243);
  padding-bottom: 50px;
}

.fdl-courses-cards a {
  text-decoration: none;
}

.fdl-courses-card {
  width: 250px;
  display: inline-block;
  background-color: white;
  margin: 10px;
  border-bottom: 3px solid rgb(225,225,224);
}

.fdl-courses-card-img {
  height: 150px;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fdl-courses-card-title {
  color: black;
  font-size: 16px;
  font-weight: normal;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
